*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html{
  --bg-color: #EDF2FF;
  --text-color: #00082F;
  --primary-color: #4263EB;
  --primary-color-dark: #364FC7;
}

body.dark-blue{
  --bg-color: #00082F;
  --text-color: #FFFFFF;
}

body.pink{
  --bg-color: #FFF0F6;
  --text-color: #1F000B;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E4D;

}

body{
  background: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}
.container{
text-align: center;
width: 300px;
margin: 60px auto;
}

img{
  width: 50%;
  border-radius: 50%;
  border: 4px var(--primary-color) solid;
  padding: 3px;
}
h1{
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 32px;
}

p{
  font-family: 'Roboto Mono', monospace;
}
ul{
  list-style: none;
  margin: 48px 0px;
}

ul li a{
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  margin-bottom:16px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  transition: background 400ms;
}

ul li a:hover{
  background: var(--primary-color-dark);
}

footer{
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;

  transition: opacity 400ms;
}

footer:hover{
  opacity: 1;
}

footer a{
  color: var(--text-color)
}
